@import url(/css/layout.css);

.product-table {
  border-collapse: collapse;
  width: 100%;
}

.product-table td,
.product-table th {
  border: 1px solid black;
}

.delimiter {
  width: 100%;
  border-top: 1px solid #bbbbbb;
  margin: 20px 0;
}
